body{
font-family:Arial;
}

form{
display:flex;
flex-direction:column;
gap:10px;
}

button{
border:none;
border-radius:20px;
}

button:hover{
color:grey;
}

h1{
text-align:center;
}
